.tabs__head {
    background-color: #61A0D7;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-right: 1px solid #4f83b1;
    border-left: 1px solid #4f83b1;
    border-bottom: 1px solid #4f83b1;
    background-image: url(img/closed.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
    background-position-x: 98%;
}

div.tabs__head.active {
    background-image: url(img/opened.png);
}

div.tabs__head.active + .tabs__data {
    display: block;
}

.tabs__data {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.tabs__data > div {
    padding: 4px 0;
}

.tabs_wrp {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #4f83b1;
}

.tabs__head_code {
    width: 70px;
    display: inline-block;
    vertical-align: text-bottom;
}

.tabs__data_pos_name {
    width: 230px;
    display: inline-block;
}

.tabs__data_fullname {
    margin-left: 8px;
}

.tabs__head_name {
    width: 420px;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-bottom;
}

.tabs__head_visit {
    border: 1px solid #fff;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ff0000;
    vertical-align: text-bottom;
}

.tabs__head_visit.visited {
    background: #76b14d;
}